*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #091921;
}
.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, .05),
                inset 0 -15px 15px rgba(255, 255, 255, .05),
                0 15px 15px rgba(0, 0, 0, .3),
                inset 0 15px 15px rgba(0, 0, 0, .3);
}
.clock::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    z-index: 10000;
    border-radius: 50%;
}
.hour,.min,.sec{
    position: absolute;
}
.hour,.hr{
    width: 160px;
    height: 160px;
}
.min,.mn{
    width: 220px;
    height: 220px;
}
.sec,.sc{
    width: 240px;
    height: 240px;
}
.hr,.mn,.sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    border-radius: 6px 6px 0 0;
    z-index: 10;
}
.mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 110px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    z-index: 11;
}
.sc::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 120px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    z-index: 12;
}

#digitalclock{
    display: flex;
    color: #fff;
    font-size: 4em;
    margin-top: 20px;
}